<div class="row">
    <div class="card">
        <div class="card-header">
             Product filter
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="code">Product Code:</label>
                <input type="text" class="form-control" [(ngModel)]="codeSearchValue" placeholder="Search by Code" (input)="onSearchChange(codeSearchValue)">
              </div>
              <div class="form-group">
                  <label for="code">Product Name:</label>
                  <input type="text" class="form-control" [(ngModel)]="nameSearchValue" placeholder="Serach by Name" (input)="onSearchChange(nameSearchValue)">
                </div>
                <div class="form-group">
                    <label for="code">Product Price:</label>
                    <input type="text" class="form-control" [(ngModel)]="priceSearchValue" placeholder="Search by Price" (input)="onSearchChange(priceSearchValue)">
                  </div>
        </div>
      </div>
  <div class="card">
    <div class="card-header">
        Product Details
      
    </div>
    <div class="card-body">

        <button class="btn btn-primary" (click)="addProduct()"> Add New Product </button> &nbsp;
        <button (click)="exportAsXLSX()"><i class="fa fa-file-excel-o" style="font-size:25px;margin-top:5px;color:blue"></i> Export as Excel</button>
      
        <div class="pull-right">
          <b>Showing {{products.length}} products </b>
        </div>
        <table class="table table-responsive table-striped table-bordered">
            <thead>
            <tr>
              <th class="hidden">Id</th>
              <th>Code</th>
              <th>Name</th>
              <th>Price</th>
              <th>Image</th>
              <th>Lastupdated</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products">
              <td class="hidden">{{product.id}}</td>
              <td>{{product.code}}</td>
              <td>{{product.name}}</td>
              <td>{{product.price}}</td>
              <td>
                <img *ngIf="product.photo" src= {{product.photo}} height="50" width="50" />
              </td>
              <td>{{product.lastUpdated}}</td>
              <td style='white-space: nowrap'>
                <button class="btn btn-danger" Style="width: 100px;" (click)="deleteProduct(product)"> Delete </button> &nbsp;
                <button class="btn btn-success" Style="width: 100px;" (click)="editProduct(product)" > Edit </button></td>
            </tr>
            </tbody>
          </table>
    </div>
  </div>
  
</div>

