<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top" style="background-color:#3F51B5;">
  <div class="container">
    <ul class="navbar-nav mr-auto">
     
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="list">Product List</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="create">Create Product</a>
        </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

