/* You can add global styles to this file, and also import other style files */

a.nav-link {
    color: white !important;
}
.nav-link.active{
    font-weight: bold;
    border-bottom: 2px solid white;
}


