<div class="row">
  <div class="col-md-12">
      <div class="card">
          <div class="card-header">
              <b>Edit Product</b>
          </div>
          <div class="card-body">
            <div *ngIf="hasError">
                <div class="alert alert-danger">
                      {{errorMessage}}
                </div>
            </div>
              <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                      <label for="name">Name</label>
                      <input formControlName="name" required placeholder="Name" name="name" class="form-control" id="name">
                      
                    </div>
                
                    <div class="form-group">
                      <label for="code">Product Code:</label>
                      <input formControlName="code" required placeholder="Product Code" name="code" class="form-control" id="code">
                    </div>
                
                    <div class="form-group">
                      <label for="price">Price:</label>
                      <input formControlName="price" required placeholder="Product Price" name="price" class="form-control" id="price">
                    </div>

                    <div class="form-group">
                     <div>
                      <img *ngIf="productImagePath" width="100" height="100" src={{productImagePath}} />
                     </div>
                     <input #file type="file" class="form-control"  (change)="handleFileInput($event)" />
                    </div>
                
                <button [disabled]="editForm.invalid" class="btn btn-success">Update</button>
              </form>
          </div>
        </div>
  </div>
</div>
